# Системные файлы
.DS_Store
Thumbs.db

# Файлы редакторов
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Логи и временные файлы
*.log
*.tmp
*.temp

# Исключаем папки с исходниками и бэкендом
/tg-bd-main/
/Verstka/ 